/* reset */
body {
  -webkit-overflow-scrolling: touch;
}
a {
  -webkit-tap-highlight-color: rgba(240, 43, 43, 0);
  tap-highlight-color: rgba(240, 43, 43, 0);
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}
button {
  border: none;
}
img,
fieldset {
  border: 0;
}
ul,
ol {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  color: #333;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 50px;
}
body {
  font-size: 24px;
  min-width: 320px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33px;
  }
  body {
    font-size: 12px;
  }
  input {
    outline: none;
  }
  textarea {
    outline: none;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
  body {
    font-size: 12px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
  body {
    font-size: 12px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.67px;
  }
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.27px;
  }
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
  body {
    font-size: 15.36px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
  body {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
  body {
    font-size: 23.04px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
  body {
    font-size: 24px;
  }
}
body {
  min-width: 320px;
  font-family: 'microsoft yahei', '微软雅黑', Verdana, Arial, Helvetica, sans-serif;
  color: #333;
  background: #ffffff;
}
html {
  box-sizing: border-box;
}
input,
select,
textarea {
  width: 100%;
  border: 0;
  color: #333;
  font-size: 0.58333296rem;
  font-family: 'microsoft yahei', '微软雅黑', Verdana, Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "iconfont";
  src: url('font/iconfont.eot?t=1468920364');
  src: url('font/iconfont.eot?t=1468920364#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/iconfont.woff?t=1468920364') format('woff'), /* chrome, firefox */ url('font/iconfont.ttf?t=1468920364') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('font/iconfont.svg?t=1468920364#iconfont') format('svg')
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gouwuche:before {
  content: "\e608";
}
.icon-check:before {
  content: "\e627";
}
.icon-shanchu:before {
  content: "\e61b";
}
.icon-dingdan:before {
  content: "\e60f";
}
.icon-error:before {
  content: "\e62c";
}
.icon-iconfontup:before {
  content: "\e621";
}
.icon-iconfontdown:before {
  content: "\e622";
}
.icon-back:before {
  content: "\e616";
}
.icon-youhui:before {
  content: "\e606";
}
.icon-fold:before {
  content: "\e623";
}
.icon-unfold:before {
  content: "\e624";
}
.icon-back1:before {
  content: "\e625";
}
.icon-right:before {
  content: "\e626";
}
.icon-cuowu:before {
  content: "\e61c";
}
.icon-xiaolian:before {
  content: "\e61a";
}
.icon-xiangji:before {
  content: "\e61f";
}
.icon-gouwuche1:before {
  content: "\e601";
}
.icon-dianpu:before {
  content: "\e610";
}
.icon-back2:before {
  content: "\e615";
}
.icon-sousuo:before {
  content: "\e605";
}
.icon-v2:before {
  content: "\e614";
}
.icon-jiage:before {
  content: "\e60e";
}
.icon-check1:before {
  content: "\e628";
}
.icon-tuiguang:before {
  content: "\e619";
}
.icon-dingdan1:before {
  content: "\e62e";
}
.icon-tianjia:before {
  content: "\e61d";
}
.icon-tianjia1:before {
  content: "\e620";
}
.icon-check-b:before {
  content: "\e629";
}
.icon-11:before {
  content: "\e61e";
}
.icon-jiaruchengguo:before {
  content: "\e603";
}
.icon-wodedingdan:before {
  content: "\e611";
}
.icon-bianji:before {
  content: "\e60d";
}
.icon-icon103-copy:before {
  content: "\e60a";
}
.icon-shangpin:before {
  content: "\e607";
}
.icon-check-copy:before {
  content: "\e62a";
}
.icon-wo:before {
  content: "\e609";
}
.icon-fenlei:before {
  content: "\e62d";
}
.icon-check2:before {
  content: "\e62b";
}
.icon-icon-search:before {
  content: "\e604";
}
.icon-arrow-down:before {
  content: "\e617";
}
.icon-dingwei:before {
  content: "\e60c";
}
.icon-tuiguang1:before {
  content: "\e602";
}
.icon-arrow-up:before {
  content: "\e618";
}
.icon-jilu-copy:before {
  content: "\e612";
}
.icon-wubanhua:before {
  content: "\e600";
}
.icon-duihao:before {
  content: "\e60b";
}
.icon-shouruxiangqing:before {
  content: "\e613";
}
.icon-shezhi:before {
  content: "\e630";
}
.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}
.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}
.app-body {
  padding-top: 2.083332rem;
  padding-bottom: 1.9444432rem;
}
.app-body.no-menu {
  padding-bottom: 0;
}
.app-body.no-header {
  padding-top: 0;
}
.top-bar-container {
  position: fixed;
  background-color: #fcfcfc;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #e3e3e3;
}
.top-bar-container .top-bar-back {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  color: #333;
  line-height: 2.083332rem;
  text-align: center;
  font-size: 0.88888832rem;
  z-index: 10;
  height: 2.083332rem;
  width: 2.083332rem;
}
.top-bar-container .title {
  line-height: 2.083332rem;
  font-size: 0.66666624rem;
  color: #333333;
  position: relative;
  text-align: center;
}
.top-bar-container .right-text {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  text-align: right;
  line-height: 2.083332rem;
  font-size: 0.58333296rem;
}
.bottom-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #e3e3e3;
}
.bottom-menu ul {
  height: 1.9444432rem;
}
.bottom-menu .menu-item {
  text-align: center;
}
.bottom-menu .menu-item a {
  color: #999999;
}
.bottom-menu .menu-item a .menu-icon {
  font-size: 0.99999936rem;
  line-height: 1;
}
.bottom-menu .menu-item a .text {
  line-height: 1.3;
}
.bottom-menu .menu-item.active a {
  color: #f02b2b;
}
.bottom-menu .menu-item.active a .text {
  color: #f02b2b;
}
#right-nav {
  width: 1.6666656rem;
  position: fixed;
  z-index: 100;
  top: 0.9722216rem;
  right: 0;
  text-align: center;
}
#right-nav .circle {
  display: block;
  position: absolute;
  z-index: 101;
  top: -0.694444rem;
  width: 1.6666656rem;
  height: 1.6666656rem;
  line-height: 1.388888rem;
  background-color: #fcfcfc;
  font-size: 0.99999936rem;
}
#right-nav .circle.close ~ .nav-wrap {
  display: none;
}
#right-nav .circle.close i:before {
  content: "\e62d";
}
#right-nav .nav-wrap {
  padding-top: 1.041666rem;
  background-color: #fcfcfc;
  border-top: none;
  overflow: hidden;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#right-nav .nav-wrap a .right-nav-icon {
  font-size: 0.99999936rem;
  display: block;
  color: #999999;
}
#right-nav .nav-wrap a .title {
  font-size: 0.4166664rem;
  color: #999999;
  line-height: 2;
}
.app-checkbox input {
  width: 0.8333328rem;
  display: none;
}
.app-checkbox input + label:before {
  content: "\e62b";
  color: #333;
}
.app-checkbox input:checked + label:before {
  content: "\e629";
  color: #f02b2b;
}
.ui-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.ui-dialog.ui-alert {
  background-color: #fff;
}
.ui-dialog h4 {
  text-align: center;
}
.ui-dialog .content {
  font-size: 0.49999968rem;
  text-align: center;
  padding: 0.2777776rem 0.5555552rem 0.5555552rem 0.5555552rem;
  line-height: 1.5;
}
.ui-dialog.show {
  display: -webkit-box;
  display: box;
}
.ui-dialog-hd {
  height: 48px;
  line-height: 48px;
  text-align: center;
  position: relative;
}
.ui-dialog-cnt {
  border-radius: 6px;
  width: 80%;
  background-clip: padding-box;
  pointer-events: auto;
  background-color: rgba(253, 253, 253, 0.95);
  position: relative;
  font-size: 16px;
}
.ui-dialog-bd {
  min-height: 70px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 18 0.01388888rem;
  display: -webkit-box;
  display: box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  border-bottom: 1px solid #e3e3e3;
  color: #333333;
  font-size: 0.58333296rem;
}
.ui-dialog-bd .my-title {
  line-height: 1.388888rem;
  color: #666666;
  font-size: 0.66666624rem;
}
.ui-dialog-bd .my-title:after {
  content: ' ';
  line-height: 0.2777776rem;
  color: transparent;
  font-size: 0px;
}
.ui-dialog-bd > h4 {
  margin-bottom: 4px;
  width: 100%;
  text-align: center;
}
.ui-dialog-bd > div,
.ui-dialog-bd > ul {
  width: 100%;
}
.ui-dialog-ft {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: -webkit-box;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-align: center;
  height: 1.388888rem;
  line-height: 1.388888rem;
}
.ui-dialog-close:before {
  font-family: iconfont!important;
  font-size: 32px;
  line-height: 44px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  color: rgba(0, 0, 0, 0.5);
  content: "";
  color: #828282;
  display: block;
  line-height: 32px;
  position: absolute;
  top: 3px;
  right: 3px;
}
.ui-dialog-close:active {
  opacity: 0.5;
}
.ui-dialog-ft button {
  color: #f02b2b;
  text-align: center;
  border-right: 1px #e3e3e3 solid;
  width: 100%;
  line-height: 1.388888rem;
  background: transparent;
  display: block;
  margin: 0!important;
  -webkit-box-flex: 1;
  font-size: 0.58333296rem;
}
.ui-dialog-ft button:active {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.ui-dialog-ft button:first-child {
  border-bottom-left-radius: 6px;
}
.ui-dialog-ft button:last-child {
  border-right: 0;
  border-bottom-right-radius: 6px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .ui-dialog-ft {
    position: relative;
    background-position: left top;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #e0e0e0), to(#e0e0e0));
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px;
  }
  .ui-dialog-ft button {
    background-position: right top;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, transparent), color-stop(0.5, #e0e0e0), to(#e0e0e0));
    background-repeat: repeat-y;
    -webkit-background-size: 1px 100%;
  }
  .ui-dialog-ft button:last-child {
    background: 0 0;
  }
}
.ui-dialog .select {
  font-size: 0.58333296rem;
  margin-top: 0.4166664rem;
}
.no-more-data {
  line-height: 2.083332rem;
  text-align: center;
  color: #999;
  font-size: 0.49999968rem;
}
.loading-data {
  width: 4.166664rem;
  color: #999;
  margin: 0 auto;
  line-height: 1.6666656rem;
}
.loading-data .loading-data-icon {
  display: inline-block;
  padding-left: 18px;
  height: 32px;
  line-height: 32px;
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
  font-size: 0.49999968rem;
}
.go-top-btn {
  width: 1.73611rem;
  height: 1.73611rem;
  position: fixed;
  background-image: url('../images/get-top.png');
  background-size: cover;
  right: 0.8333328rem;
  bottom: 2.777776rem;
  z-index: 10000;
  display: none;
}
