@charset "utf-8";
/* 第三方首页 */
.topline{border-top:solid 1px #ededed}
.tre_top{margin:0 auto;height:30px}
.tre_logo{margin:0 auto;height:100px}
.tre_menu_box{width:100%;height:36px}
.tre_top li{float:right;line-height:30px;padding-left:10px}
.tre_score{border-left:solid 1px #ccc;border-right:solid 1px #ccc;overflow:auto;padding:0 10px}
.site-nav i{margin:6px 5px 0 0;display:inline-block;width:75px;height:14px}
/* 评分下拉 */
.tre_top .site-nav{z-index:0;color:#000;line-height:30px;position:relative;float:right;margin:0;padding:0 5px}
.tre_top .site-nav .menu-hd {width:170px;display:block;z-index:10001;corsor:pointer;position:relative;height:30px;border-left:solid 1px #eee;border-right:solid 1px #eee;margin:0}
.tre_top .site-nav .menu-hd b {border-right:#f9f9f9 6px solid;border-top:#dcdcdc 6px solid;font-size:0px;right:6px;border-left:#f9f9f9 6px solid; width:0px; line-height:0; border-bottom: #f9f9f9 6px solid; position: absolute;top:12px;height:0px;-webkit-transition:-webkit-transform .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: -webkit-transform .2s ease-in}
.tre_top .site-nav .menu {position:relative;background: url(../images/top_icq.png) 0 0 repeat-x}
.tre_top .site-nav .menu:hover .menu-hd{background:white;border-top:none;border-left:solid 1px #eee;border-right:solid 1px #eee}
.tre_top .site-nav .menu:hover .menu-bd {display:block}
.tre_top .site-nav .menu:hover .menu-hd b {border-left-color:#fff;filter: progid:DXImageTransform.Microsoft.basicImage(rotation=2);border-bottom-color:#fff; border-top-color:#dcdcdc;top:12px; border-right-color:#fff; -moz-transform: rotate(180deg);-moz-transform-origin:50% 30%;-webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg);-o-transform-origin: 50% 30%;transform: rotate(180deg);transform-origin: 50% 30%}

/* 下拉内容区域 */
.tre_top .site-nav .menu-bd {width:252px;top:30px;right:0;display:none;z-index:10002;background:#fff;position:absolute;box-shadow:0px 0px 10px #eee;border-top:none;border:solid 1px #eee}
.tre_top .account_box{padding:10px 20px;line-height:24px;overflow:auto}
.tre_top .account_box dl{overflow:auto}
.tre_top .account_box dt{width:80px}
.tre_top .account_box dd{width:132px}
.tre_top .account_box dt,.tre_top .account_box dd{float:left}
.tre_top .account_box ul{border-top:dotted 1px #ccc;padding:10px 0;margin-top:10px}
.tre_top .account_box li{line-height:24px;float:left;padding:0}
.tre_top .account_box .comtitle{width:72px;text-align:right}
.tre_top .account_box .comname{width:140px; line-height:24px}
.tre_tell{padding-right:15px}
.tre_tell s{width:16px;height:25px;background:url(../images/top_icq.png) no-repeat 0 -87px;float:left;margin:8px 8px 0 0}
/* 粉红 */
.tre_orange{background:#bf003d}
/* 菜单 */
.tre_menu{margin:0 auto;line-height:36px;font-size:14px}
.tre_menu li{float:left;width:100px;text-align:center}
.tre_menu li.hover{background:url(../images/tre_icq.png) no-repeat 0 -98px}
.tre_menu li a{color:#fff}
/* banner */
.tre_banner{width:100%;height:400px;text-align:center;padding:20px 0}
/* 商品分类 */
.tre_class{margin:0 auto;clear:both;overflow:auto}
.tre_class .class_left{width:730px;float:left}
.class_left .class_title{width:728px;height:32px;line-height:32px;font-size:14px}
.tre_class .class_right{float:left;padding-left:20px}
/* 粉红 */
.title_orange{border:solid 1px #ccc;border-top:solid 2px #bf003d;background:#f7f7f7}
.title_orange span{color:#bf003d;padding-left:10px}
.class_content{width:708px;border:solid 1px #ccc;border-top:none;padding:10px;overflow:auto}
.class_content li{border-bottom:dotted 1px #ccc;overflow:auto; line-height:30px;padding-bottom:5px}
.class_content .big_class{width:80px;float:left;font-weight:bold}
.class_content .small_class{width:628px;float:left}
.class_content .small_class a{padding:0 5px}
/* 标签切换 */
.tre_hotsell{margin:20px auto 0 auto;clear:both}
.tre_hotsell .hotsell_title{width:980px;height:25px;background:#e9e9e9}
.hotsell_title li{float:left;width:245px;height:25px;display:block;text-align:center;cursor:pointer;color:#666;line-height:25px;background:#e9e9e9}
.hotsell_title li.hover{color:#666;font-weight:bold;background:#bf003d;color:#fff}
.tre_hotsell .hotsell_content{width:958px;border:solid 1px #ccc;border-top:none;overflow:auto;padding:20px 10px}
.hotsell_content li{float:left;padding:0 20px}
.hotsell_content .hot_products{width:150px;height:150px}
.hotsell_content .hot_products img{width:150px;height:150px}
.hotsell_content .hot_name{width:150px;line-height:16px;height:32px}
.hotsell_content .hot_price span{padding-left:20px;text-decoration:line-through}
.hotsell_content .hot_price font{font-size:16px;color:#F00}
/* 第三方首页1楼 */
.tre_floor{margin:0 auto}
.tre_floor h1{line-height:30px;font-size:16px;color:#bf003d;padding-top:10px}
.tre_floor .floor_box{border:solid 1px #ccc;border-top:solid 2px #bf003d;overflow:auto}
.floor_box .left_ad{float:left;width:190px;height:443px}
.floor_box .right_box{float:left;width:788px;position:relative}
.right_box ul{border-right:solid 1px #ccc;border-bottom:solid 1px #ccc;float:left;padding:7px 23px}
.right_box .bor_rightnone{border-right:none}
.right_box .bor_bottomnone{border-bottom:none}
.right_box .hot_products{width:150px;height:150px}
.right_box .hot_products img{width:150px;height:150px}
.right_box .hot_name{width:150px;line-height:16px;height:32px}
.right_box .hot_price{line-height:24px}
.right_box .hot_price span{padding-left:20px;text-decoration:line-through}
.right_box .hot_price font{font-size:16px;color:#F00}
.right_box .across_line{width:788px;height:1px;background:#ccc;overflow:hidden;top:221px;left:0;position:absolute}
/* 第三方商品列表页 */
.tre_prolist{margin:0 auto;overflow:auto}
.tre_prclass{width:190px}
.tre_prclass .prc_title{width:178px;height:30px;background:#bf003d;line-height:30px;padding-left:10px;color:#fff;font-size:14px;border:solid 1px #970030}
.menu_head{width:150px;height:30px;line-height:30px;padding-left:38px;font-size:14px;color:#525252;cursor:pointer;border:1px solid #e1e1e1;position:relative;font-weight:bold;background:#f7f7f7 url(../images/tre_icq.png) no-repeat 8px -164px;margin:0}
.menu_list .current{background:#f1f1f1 url(../images/tre_icq.png) no-repeat 8px -138px;}
.menu_body{width:188px;height:auto;overflow:hidden;line-height:38px;border-left:1px solid #e1e1e1;backguound:#fff;border-right:1px solid #e1e1e1;}
.menu_body a{display:block;width:150px;height:38px;line-height:38px;padding-left:38px;color:#777777;background:#fff;text-decoration:none;border-bottom:1px solid #e1e1e1;}
.menu_body a:hover{text-decoration:none;}
.tre_protp{float:left;width:767px;padding-left:20px}
.tre_protp .tre_portitle{width:767px;height:30px;border-top:solid 2px #bf003d;border-bottom:solid 1px #ddd;background:#e9e9e9}
.tre_portitle li{float:left;width:100px;height:30px;display:block;text-align:center;cursor:pointer;color:#666;line-height:30px;background:#e9e9e9;border-right:solid 1px #ccc}
.tre_portitle li.hover{color:#666;font-weight:bold; background:#bf003d;color:#fff}
.tre_porcontent{padding-top:20px}
.tre_porcontent li{float:left;width:220px;padding:0 14px 30px 14px}
.tre_porcontent .list_photobox{width:220px}
.tre_porcontent .list_photobox .p_img{width:220px;height:220px;padding-bottom:10px}
.tre_porcontent .list_photobox .p_img img{width:220px;height:220px}
.tre_porcontent .list_photobox .p_name{height:2.5em;word-wrap:break-word;word-break:break-all;overflow:hidden}
.tre_porcontent .list_photobox .p_price{height:20px;overflow:hidden;margin-top:5px;font-size:16px;color:#F00;font-weight:bold}
.tre_porcontent .list_photobox .p_price .comment{padding-left:20px;font-size:12px;color:#666;font-weight:normal}
.tre_porcontent .list_photobox .p_btn{margin-top:20px;font-size:14px}
.tre_porcontent .list_photobox .p_btn .buybtn,.list_photobox .p_btn .catbtn{height:32px;line-height:32px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;float:left;display:block;text-decoration:none}
.tre_porcontent .list_photobox .p_btn .buybtn{background:#ff7e00;color:#fff;text-align:center;width:106px;}
.tre_porcontent .list_photobox .p_btn .buybtn:hover{background:#e87300}
.tre_porcontent .list_photobox .p_btn .catbtn{background:#dedede;color:#666;margin-left:8px;position:relative;padding-left:26px;width:80px}
.tre_porcontent .list_photobox .p_btn .catbtn s{width:17px;height:15px;background:url(../images/top_icq.png) no-repeat 0 -122px;display:block;position:absolute;top:8px;left:7px}
.tre_porcontent .list_photobox .p_btn .catbtn:hover{background:#c8c8c8}
.tre_prolist .products_list_left .hot_title{width:173px;height:30px;border:solid 1px #ccc;border-top:solid 2px #bf003d;line-height:30px;padding-left:15px;color:#bf003d;background:url(../images/tre_line.png) no-repeat 5px -25px}